<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" name="Grouper">
    <Properties>
        <Property name="layout">%d{ISO8601}: [%t] %-5p %C{1}.%M(%L) - %x - %m%n</Property>
        <Property name="env">dev;</Property>
        <Property name="usertoken">;</Property>
        <Property name="grouplogprefix">grouper-ws;</Property>
        <Property name="retentionpolicy01">180</Property>
    </Properties>

    <Appenders>
        <Console name="stderr" target="SYSTEM_ERR">
            <PatternLayout pattern="${grouplogprefix};${env}${usertoken}${layout}"/>
        </Console>

        <RollingFile name="file_catalina" fileName="/opt/grouper/logs/catalina.out"
                     filePattern="/opt/grouper/logs/catalina.out.%d{yyyy-MM-dd}.gz">
            <PatternLayout pattern="${grouplogprefix}catalina.out;${env}${usertoken}${layout}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
            </Policies>
            <DefaultRolloverStrategy max="${retentionpolicy01}"/>
        </RollingFile>
        <RollingFile name="file_grouper_error" fileName="/opt/grouper/logs/grouper.log"
                     filePattern="/opt/grouper/logs/grouper.log.%d{yyyy-MM-dd}.gz">
            <PatternLayout pattern="${grouplogprefix}grouper_error.log;${env}${usertoken}${layout}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
            </Policies>
            <DefaultRolloverStrategy max="${retentionpolicy01}"/>
        </RollingFile>
        <RollingFile name="file_grouper_daemon" fileName="/opt/grouper/logs/grouperDaemon.log"
                     filePattern="/opt/grouper/logs/grouperDaemon.log.%d{yyyy-MM-dd}.gz">
            <PatternLayout pattern="${grouplogprefix}grouperDaemon.log;${env}${usertoken}${layout}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
            </Policies>
            <DefaultRolloverStrategy max="${retentionpolicy01}"/>
        </RollingFile>
        <RollingFile name="file_grouper_pspng" fileName="/opt/grouper/logs/pspng.log"
                     filePattern="/opt/grouper/logs/pspng.log.%d{yyyy-MM-dd}.gz">
            <PatternLayout pattern="${grouplogprefix}pspng.log;${env}${usertoken}${layout}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
            </Policies>
            <DefaultRolloverStrategy max="${retentionpolicy01}"/>
        </RollingFile>
        <RollingFile name="file_grouper_provisioning" fileName="/opt/grouper/logs/provisioning.log"
                     filePattern="/opt/grouper/logs/provisioning.log.%d{yyyy-MM-dd}.gz">
            <PatternLayout pattern="${grouplogprefix}provisioning.log;${env}${usertoken}${layout}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
            </Policies>
            <DefaultRolloverStrategy max="${retentionpolicy01}"/>
        </RollingFile>
        <RollingFile name="file_grouper_ws" fileName="/opt/grouper/logs/grouper_ws.log"
                     filePattern="/opt/grouper/logs/grouper_ws.log.%d{yyyy-MM-dd}.gz">
            <PatternLayout pattern="${grouplogprefix}grouper_ws.log;${env}${usertoken}${layout}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
            </Policies>
            <DefaultRolloverStrategy max="${retentionpolicy01}"/>
        </RollingFile>
        <RollingFile name="file_grouper_ws_longRunning" fileName="/opt/grouper/logs/grouper_ws_longRunning.log"
                     filePattern="/opt/grouper/logs/grouper_ws_longRunning.log.%d{yyyy-MM-dd}.gz">
            <PatternLayout pattern="${grouplogprefix}grouper_ws_longRunning.log;${env}${usertoken}${layout}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
            </Policies>
            <DefaultRolloverStrategy max="${retentionpolicy01}"/>
        </RollingFile>

        <!-- Log messages to stderr -->
        <Console name="grouper_stderr" target="SYSTEM_ERR">
            <PatternLayout pattern="%d{ISO8601}: [%t] %-5p %C{1}.%M(%L) - %x - %m%n"/>
        </Console>

        <!-- Log messages to stdout -->
        <Console name="grouper_stdout" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{ISO8601}: [%t] %-5p %C{1}.%M(%L) - %x - %m%n"/>
        </Console>

        <!-- Grouper API event logging -->
        <File name="grouper_event" fileName="/opt/grouper/logs/grouper-api_event.log">
            <PatternLayout pattern="%d{ISO8601}: [%t] %-5p %C{1}.%M(%L) - %x - %m%n"/>
        </File>

        <!-- Grouper API error logging -->
        <File name="grouper_error" fileName="/opt/grouper/logs/grouper-api_error.log">
            <PatternLayout pattern="%d{ISO8601}: [%t] %-5p %C{1}.%M(%L) - %x - %m%n"/>
        </File>

        <!-- Debug logging -->
        <File name="grouper_debug" fileName="/opt/grouper/logs/grouper-api_debug.log">
            <PatternLayout pattern="%d{ISO8601}: [%t] %-5p %C{1}.%M(%L) - %x - %m%n"/>
        </File>

        <!-- Benchmark logging -->
        <File name="grouper_gb" fileName="/opt/grouper/logs/grouper-api_bench.log">
            <PatternLayout pattern="%d{ISO8601}: [%t] %-5p %C{1}.%M(%L) - %x - %m%n"/>
        </File>
    </Appenders>

    <Loggers>
        <Root level="error">
            <AppenderRef ref="file_grouper_error"/>
        </Root>
        <Logger name="org.apache.catalina" level="info" additivity="false">
            <AppenderRef ref="file_catalina"/>
        </Logger>
        <Logger name="edu.internet2.middleware" level="warn" additivity="false">
            <AppenderRef ref="file_grouper_error"/>
        </Logger>
        <Logger name="edu.internet2.middleware.grouper.app.loader.GrouperLoaderLog" level="debug" additivity="false">
            <AppenderRef ref="file_grouper_daemon"/>
        </Logger>
        <Logger name="edu.internet2.middleware.grouper.pspng" level="warn" additivity="false">
            <AppenderRef ref="file_grouper_pspng"/>
        </Logger>
        <Logger name="edu.internet2.middleware.grouper.app.provisioning.GrouperProvisioningObjectLog" level="debug"
                additivity="false">
            <AppenderRef ref="file_grouper_provisioning"/>
        </Logger>
        <Logger name="edu.internet2.middleware.grouper.app.syncToGrouper.SyncToGrouperFromSqlDaemon" level="debug"
                additivity="false">
            <AppenderRef ref="file_grouper_error"/>
        </Logger>
        <Logger name="edu.internet2.middleware.grouper.app.provisioning.GrouperProvisioningLogCommands" level="debug"
                additivity="false">
            <AppenderRef ref="file_grouper_error"/>
        </Logger>
        <Logger name="edu.internet2.middleware.grouper.stem.StemViewPrivilegeEsbListener" level="debug"
                additivity="false">
            <AppenderRef ref="file_grouper_error"/>
        </Logger>
        <Logger name="edu.internet2.middleware.grouper.stem.StemViewPrivilegeFullDaemonLogic" level="debug"
                additivity="false">
            <AppenderRef ref="file_grouper_error"/>
        </Logger>
        <Logger name="org.apache.tools.ant" level="warn" additivity="false">
            <AppenderRef ref="file_grouper_error"/>
        </Logger>
        <Logger name="edu.internet2.middleware.grouper.util.PerformanceLogger" level="info" additivity="false">
            <AppenderRef ref="file_grouper_error"/>
        </Logger>
        <Logger name="edu.internet2.middleware.grouper.ws.util.GrouperWsLog" level="off" additivity="false">
            <AppenderRef ref="file_grouper_ws"/>
        </Logger>
        <Logger name="edu.internet2.middleware.grouper.ws.util.GrouperWsLongRunningLog" level="off" additivity="false">
            <AppenderRef ref="file_grouper_ws_longRunning"/>
        </Logger>
        <Logger name="edu.internet2.middleware.grouper.ui.customUi.CustomUiEngine" level="debug" additivity="false">
            <AppenderRef ref="file_grouper_error"/>
        </Logger>
        <Logger name="edu.upenn.isc.pennGrouper.o365" level="debug" additivity="false">
            <AppenderRef ref="file_grouper_error"/>
        </Logger>
        <Logger name="edu.internet2.middleware.grouper.app.remedy.GrouperRemedyLog" level="debug" additivity="false">
            <AppenderRef ref="file_grouper_provisioning"/>
        </Logger>
        <Logger name="edu.internet2.middleware.grouper.app.remedy.digitalMarketplace.GrouperDigitalMarketplaceLog"
                level="debug" additivity="false">
            <AppenderRef ref="file_grouper_provisioning"/>
        </Logger>
        <Logger name="edu.internet2.middleware.grouperBox.GrouperBoxLog" level="debug" additivity="false">
            <AppenderRef ref="file_grouper_provisioning"/>
        </Logger>
        <Logger name="edu.internet2.middleware.grouperClient.jdbc.tableSync.GcTableSyncLog" level="debug"
                additivity="false">
            <AppenderRef ref="file_grouper_error"/>
        </Logger>
        <Logger name="edu.internet2.middleware.grouper.app.zoom" level="debug" additivity="false">
            <AppenderRef ref="file_grouper_provisioning"/>
        </Logger>
    </Loggers>
</Configuration>
